<launch>
  <arg name="use_sim_time" default="true"/>
  <arg name="world_file" default="$(find mars_rover_sim)/worlds/mars_surface.world"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.2"/>
  <arg name="enable_orbslam" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="paused" value="false"/>
    <arg name="gui" value="true"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mars_rover_sim)/urdf/rover.urdf.xacro"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_rover" args="-param robot_description -urdf -model mars_rover -x $(arg x) -y $(arg y) -z $(arg z)"/>

  <node pkg="mars_rover_sim" type="local_planner.py" name="local_planner" output="screen">
    <param name="goal_x" value="10.0"/>
    <param name="goal_y" value="0.0"/>
    <param name="safe_distance" value="1.0"/>
    <param name="grid_size" value="80"/>
    <param name="grid_resolution" value="0.20"/>
    <param name="inflation_cells" value="2"/>
  </node>

  <group if="$(arg enable_orbslam)">
    <include file="$(find mars_rover_sim)/launch/orbslam.launch"/>
  </group>
</launch>
